.card{
    padding: 5px;
    max-width: 220px;
}
#button-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
#note{
    text-align: center;
    color: red;
}
#chart{
    width: 900px;
}