.card {
    padding: 5px;
    max-width: 220px;
}

#button-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

#note {
    text-align: center;
    color: red;
}

#chart {
    border: 4px solid #FFF5B7;
    width: 850px;
    background-color: rgb(255, 255, 255);
}