<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Reason</th>
        <th scope="col">Type</th>
        <th scope="col">Division</th>
        <th scope="col">Category</th>
        <th scope="col">Priority</th>
        <th scope="col">Department</th>
        <th scope="col">Location</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <th scope="row">{{project['name']}}</th>
        <td>{{project['reason']}}</td>
        <td>{{project['type']}}</td>
        <td>{{project['division']}}</td>
        <td>{{project['category']}}</td>
        <td>{{project['priority']}}</td>
        <td>{{project['department']}}</td>
        <td>{{project['location']}}</td>
        <td id="status-buttons"> 
          <mat-button-toggle-group #toggleGroup='matButtonToggleGroup' value="{{project['status']}}">
            <mat-button-toggle (click)="statusUpdate(project['_id'], 'Running')" value="Running">Start</mat-button-toggle>
            <mat-button-toggle (click)="statusUpdate(project['_id'], 'Closed')" value="Closed">Close</mat-button-toggle>
            <mat-button-toggle (click)="statusUpdate(project['_id'], 'Cancelled')" value="Cancelled">Cancel</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
        
      </tr>
    </tbody>
  </table>